server:
  port: 8889
  servlet:
    context-path: /

logging:
  level:
    com.baomidou.mybatisplus.samples.quickstart: debug
    com.mytest.dao.mapper: debug




spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:5432/mydb
    username: postgres
    password: 13qeadzc
mybatis-plus:
  global-config:
    db-config:
      db-type: MYSQL
      capital-mode: false #开启大写命名
      column-like: true #开启 LIKE 查询
mybatis:
  mapper-locations: classpath:mappers/*.xml
  type-aliases-package: com.example.demo.pojo
#spring.data.elasticsearch.cluster-nodes=xxxx:9300,xxx:9301
#spring.data.elasticsearch.cluster-name=b_cluster

#ES配置文件
#是否是单机
elasticsearch:
  isSingleton: true
  #ca位置
  capath: classpath:ca
#这个参数暂时保留
#  keystorepass=
#账号密码
  username:
  password:
# 三个es节点信息
  node1Ip: 127.0.0.1
  node1Port: 9200
  node1Scheme: http
#elasticsearch.node2Ip=22.94.239.72
#elasticsearch.node2Port=9200
#elasticsearch.node2Scheme=http
#elasticsearch.node3Ip=33.94.239.72
#elasticsearch.node3Port=9200
#elasticsearch.node3Scheme=http